[[flavour]]
name = 'arm64'
[flavour.build]
config = [
 'config.gardenlinux',
 'config.tdx',
 'arm64/config.gardenlinux',
 'arm64/config.mlxbf',
 'config.fips'
]
[flavour.defs]
is_default = true
[flavour.description]
hardware = '64-bit ARMv8 machines'
[flavour.packages]
installer = true

[[flavour]]
name = 'cloud-arm64'
[flavour.build]
config = [
 'config.cloud',
 'config.gardenlinux',
 'arm64/config-cloud-arm64',
 'arm64/config.gardenlinux',
 'config.fips'
]
[flavour.description]
hardware = 'arm64 cloud'
hardware_long = 'cloud platforms supporting arm64 virtual machines'

[[featureset]]
name = 'none'

[build]
compiler_gnutype_compat = 'arm-linux-gnueabihf'
enable_rust = true
enable_signed = false
kernel_file = 'arch/arm64/boot/Image'
kernel_stem = 'vmlinuz'

[relations.image]
suggests = ['systemd-boot']
