
[[kernelarch]]
name = 'arm64'
  [[kernelarch.debianarch]]
  name = 'arm64'

[[kernelarch]]
name = 'x86'
  [[kernelarch.debianarch]]
  name = 'amd64'

[[featureset]]
name = 'none'

[build]
c_compiler = 'gcc-15'
rust_build_depends = [
  'rustc:native (>= 1.78.0)',
  'bindgen:native (>= 0.65.1)',
  'rust-src (>= 1.78.0)',
]

[relations.image]
depends = [
  'dracut | linux-initramfs-tool',
]
recommends = [
  'apparmor',
]
breaks = [
  'fwupdate (<< 12-7)',
  'wireless-regdb (<< 2019.06.03-1~)',
]

[[debianrelease]]
name_regex = 'gardenlinux'
revision_regex = '\dexperimental'
