[[flavour]]
name = 'amd64'
[flavour.build]
config = [
 'amd64/config.mlx',
 'config.gardenlinux',
 'config.tdx',
 'config.fips'
]
[flavour.defs]
is_default = true
[flavour.description]
hardware = '64-bit PCs'
hardware_long = 'PCs with AMD64, Intel 64 or VIA Nano processors'
[flavour.packages]
installer = true

[[flavour]]
name = 'cloud-amd64'
[flavour.build]
config = [
 'config.cloud',
 'config.gardenlinux',
 'amd64/config-cloud-amd64',
 'config.fips'
]
[flavour.description]
hardware = 'x86-64 cloud'
hardware_long = 'cloud platforms including Amazon EC2, Microsoft Azure, and Google Compute Engine'

[[featureset]]
name = 'none'

[build]
enable_rust = true
enable_signed = false
kernel_file = 'arch/x86/boot/bzImage'
kernel_stem = 'vmlinuz'

[relations.image]
suggests = ['systemd-boot | syslinux']
